@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.display_grid {
    display: grid;
}

.display_flex {
    display: flex;
}

.body_grid {
    grid-template-areas:
        "header"
        "indicator"
        "morse-code"
        "input"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto auto 1fr auto;
    min-height: 100vh;
}

.header {
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    grid-area: header;
    justify-content: space-between;
}

.logo {
    align-self: center;
}

.logo_img {
    width: 96px;
    height: 54px;
}

.header_link {
    text-decoration: none;
    align-self: center;
    margin: 0 16px;
}

.nav {
    align-self: center;
}

.select-language-button {  
    margin: 16px;
    padding: 0.3rem 1.3rem;
    background-image: linear-gradient(#f9d423 0%, #ff4e50 100%);
    border: 2px solid rgba(255, 78, 80, 0.6);
    border-radius: 2rem;
}

.select-language-button:hover,
.button_translate:hover {
    box-shadow: 0 0 6px rgba(63, 0, 63, 0.4);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.indicator_img {
    width: 100px;
}

.indicator {
    margin: 32px;
    grid-area: indicator;
    justify-self: center;
}

.morse-code {
    margin: 32px;
    grid-area: morse-code;
    justify-self: center;
}

.input {
    width: 80%;
    margin: 32px 0;
    grid-area: input;
    justify-self: center;
    
    flex-direction: column;
}

.input_field {
    min-height: 240px;
    background: transparent;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    outline: none;
    resize: none;
}

.input_field::placeholder,
.input_field::-webkit-input-placeholder {
    color: rgba(63, 0, 63, 0.5);
}

.button_translate {
    margin: 8px 0;
    padding: 8px;
    background-image: linear-gradient(#f9d423 0%, #ff4e50 100%);
    border: 2px solid rgba(255, 78, 80, 0.6);
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}

.footer {
    padding: 0 16px;
    grid-area: footer;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    flex-direction: column;
}

.footer_nav {
    flex-direction: row;
    justify-content: center;
}

.footer_link {
    text-decoration: none;
    align-self: center;
    margin: 16px;
}

.copyright {
    align-self: center;
    margin-bottom: 16px;
}

.font-family {
    font-family: 'Josefin Sans', sans-serif;
}

.font-size_s {
    font-size: 16px;
}

.font-size_m {
    font-size: 18px;
}

.font-color {
    color: rgba(63, 0, 63, 1);
}

.font-color_hover:hover {
    color: rgba(63, 0, 63, 0.8);
}

.font-color_footer {
    color: rgba(63, 0, 63, 0.5);
}

.font-color_footer_hover:hover {
    color: rgba(63, 0, 63, 0.8);
}
